body {
   color: white; 
   background: black;
   margin: 0px;
}

header {
   border-bottom: solid 2px rgb(255, 128, 244);
   padding: 20px;
   font-size: 32px;
   color: rgb(255, 255, 255);
}

section {
   background: rgb(207, 80, 125);
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}

.chamada-texto {
   margin-right: 5%;
}