body {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 8px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.chamada {
    background: rgb(128, 17, 41);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color:rgb(249, 249, 249);
}

.chamada-texto {
    margin-right: 10%;
}
h1 {
    font-size: 50px;
}

p {

font-size: 30px;
}
img{
    height: 150px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

section {
padding-left: 20px;
padding-right: 20px;
}